//Main app styling
.app
{
    height: 100vh;
    

    .sections
    {
        width: 100%;
        /* calculating the distance of the navigation bar 
        (topbar) from the rest of the screen */
        height: calc(100vh - 70px);
        position: relative;
        top: 70px;

        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;

        scrollbar-width:none; //for firefox
        &::-webkit-scrollbar
        {
          display: none; // other browsers
        }

        /* creating the view height and width of all elements 
        within the sections div object */
        > *
        {
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;
        }
    }
}